
        /* style.css */

body {
    background-image: url('assets/pictures/oamk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    font-family: Arial, sans-serif;
    color: #fff;
}


        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            font-size: 36px;
        }

        nav {
            background-color: #444;
            padding: 10px 0;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

#about {
    color: black; /* Set the text color to red */
}

#contact {
    color: black;
}

#portfolio {
    color: black;
}